model-viewer {
    --progress-bar-color: transparent;

    height: 53%;
    width: 100%;
}

main.ar {
    background: #fff;
}


main.ar button,
main.ar a {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.75rem;
    width: fit-content;
    border: none;
}

main.ar .back {
    position: absolute;
    bottom: 2.15rem;
    left: 0.5rem;
    z-index: 9999;
    text-decoration: none;
}

button[slot='ar-button'] {
    position: absolute;
    bottom: 2rem;
    right: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info ul {
    margin: 0;
    padding: 0.75rem;
    text-transform: none;
}

.info span {
    font-size: 0.85rem;
    background-color: #E9649D;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    width: fit-content;
}
